:root {
    --footer1: #1e5170;
    --footer2: #1b3846;
    --enviar:#95d03e;
    --lima: #8BE73A;
}

#footer {
    background-image: linear-gradient(to right,var(--footer2), var(--footer1)) !important;
}

form button#enviar {
    background-color: var(--enviar) !important;
    border: none;
    border-radius: .25rem;
    color: aliceblue;
    height: 45px; 
}
form button#enviar:hover{
    background-color: var(--footer1) !important;
    color: var(--lima) !important;
}

#supertxt {
   position: absolute;
   left: 0;
   right: 0;
   top: 10%;
   margin: auto;
   z-index: 9999999;
}

#orador :hover{
    color: black !important;
}

.navbar-nav :hover{
    color: rgb(0, 0, 0) !important;
}

.offcanvas-end {
   width: 70% !important;
   height: 120% !important;
}

.reg:hover{
    color: aliceblue !important;
}

.mff{
    margin-bottom: 0.9rem!important;
}

.me-9{
    margin-right: 12rem!important;
}